@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Montserrat-Arabic-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('~assets/fonts/Montserrat-Arabic-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('~assets/fonts/Montserrat-Arabic-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/Montserrat-Arabic-Black.ttf') format('truetype');
}